[submodule "mkdocs-material"]
	path = mkdocs-material
	url = https://git.charlesreid1.com/charlesreid1/mkdocs-material.git
[submodule "roles/ansible-postfix"]
	path = roles/postfix
	url = https://github.com/Oefenweb/ansible-postfix.git
