Address = charlesreid1.party
Subnet = {{ vpn_cidr_prefix }}.0/24

-----BEGIN RSA PUBLIC KEY-----
MIIBCgKCAQEAyCazrwmE/r3NaRr5IJt43XD9b7sG+KV+7+mmLPVL/0eQtlSCwqK8
BGeKTm5gWrYcvKVGBtCdiEFxFqaRdOPeN66mikH2Gd7Evyd/Z3sARjZ0DGIZ9Ja9
RguD8hbeVMazX+1od3rxXX9DC1wznG22HRO0e9aHPzX820pWck7A8eHS+jr9TtzM
XGe5FJ72fANy9GKoxv5WwXsk4CFpk33dMgxvJYzBcEPV5WcflHlBCsjLBO7V8hxc
M/dAOMRhQVdcY6GTqXHF9jjBokVIbDzFIL7dX4Tdgn+pj0OQI5OzwBCwZ3cjMzCZ
TD+wRLVoPIyvKl4bp3AVLZWeNyX2Qg9NXwIDAQAB
-----END RSA PUBLIC KEY-----


